name: Publish and Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      suppress_release_creation:
        description: Suppress a release creation
        required: false
        type: boolean
        default: false
      target_tag:
        description: Tag name when publishing package
        required: false
        default: "latest"

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Prepare
        run: |
          npm ci
          npm test
      - name: Publish and Release
        uses: akashic-games/action-release@a81329f4a70100c4729df80dba17ec8d5da52511 # v3.1.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          suppress_release_creation: "${{ github.event.inputs.suppress_release_creation || false }}"
          target_tag: ${{ github.event.inputs.target_tag || 'latest' }}
